.social-links{
    display:grid;
    position: relative;
    text-align: center;
    padding: 5px 5px;
}

.social-links a{
    text-decoration: none;
    font-style: none;
    padding: 10px ;
}

.footer{
    display:flex;
    justify-content: center;
    background-color: #97979b;
    padding: 10px 10px;

}